.footer {
    font-weight: 600;
    height: 60px;
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-wrap {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            cursor: pointer;

            &.fb:hover {
                color: #3b5998;
            }

            &.line:hover {
                color: #3ccc03;
            }

            &.ig:hover {
                background: linear-gradient(#eb268f, #f58634);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
