@import "./components/page";

.community {
    .content-wrap {
        padding: 0 80px;
        min-height: 400px;

        .date {
            font-size: 0.9rem;
            font-weight: 500;
            color: #0d529f;
            margin-bottom: 20px;
        }

        .content {
            font-size: 1rem;
            font-weight: 400;
            color: #2d2d2d;
            line-height: 1.8;
            text-align: justify;
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        gap: 20px;

        --bg-color: #d1d1d1;
        .nav-item {
            flex: 1;
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-5px);

                a {
                    color: #0d529f;
                    background-color: #f7f7f7;
                }
            }

            a {
                display: grid;
                gap: 10px;
                font-weight: 500;
                padding: 20px;

                > div:first-child {
                    color: #0d529f;
                }
            }
        }

        .next {
            text-align: right;
        }
    }
}

@media (max-width: 768px) {
    .article {
        .content-wrap {
            padding: 0;
        }
    }
}
