@import "./components/page";

.container {
    max-width: 1500px;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // border: 1px solid red;

    .pet-img {
        img {
            width: 300px;
            // height: 100%;
            box-shadow: 2px 2px 10px 2px #0000007a;
            border-radius: 10%;
        }
    }

    .pet-info {
        min-width: 50%;
        background: linear-gradient(45deg, rgb(250, 235, 215), rgb(250, 220, 215));
        border-radius: 20px;
        padding: 20px;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: sans-serif;
        position: relative;

        .wrap {
            display: flex;
            justify-content: space-between;
        }

        .name {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 20px;
            text-shadow: 1px 1px 4px #00000087;

            i {
                transform: rotate(350deg);
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .more {
            text-align: right;

            a {
                font-weight: 600;
                border-radius: 10px;
                padding: 10px 20px;
                background-color: rgb(255, 181, 138);
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    background-color: rgb(236, 134, 75);
                }
            }
        }
    }
}
