@import "./components/page";

:root {
    --item-color: #3f3f3f;
    --item-bg-color: #f8cca8;
}

.volunteer {
    .btn {
        color: #fc8b2f;
        background-color: #f1f1f1;
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 25px;
        border-radius: 10rem;
        border-width: 0;
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #cdcdcd;
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.8);
        }
    }
}

.item {
    color: var(--item-color);
    background-color: var(--item-bg-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #fc8b2f;
    position: relative;
    max-width: 500px;

    .icon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        color: #fff;
        background-color: #fc8b2f;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(1.3);
    }

    .item-title {
        margin-top: 50px;
        font-size: 2rem;
        text-align: center;
    }

    .more {
        padding: 5px;
        text-align: right;

        i {
            cursor: pointer;
        }
    }
}
