@import "./components/page";

:root {
    --item-color: #3f3f3f;
    --item-bg-color: #f8cca8;
}

.item {
    color: var(--item-color);
    background-color: var(--item-bg-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #fc8b2f;
    position: relative;

    .icon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        color: #fff;
        background-color: #fc8b2f;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(1.3);
    }

    .item-title {
        margin-top: 50px;
        font-size: 2rem;
        text-align: center;
    }
}
